{% extends "base.html" %}
{% block title %}welcome{% endblock %}
{% block content %}
    hi this is our e comerence app where you can  sell and buy stuff
    <div class="row mx-0">
        {% for product in products %}

            <div class="col my-2">

                <div class="card mx-auto"
                     style="width: 20rem;background: black; color: gold; overflow: hidden">
                    <a href="/product/view/{{ product.id }}"
                       style="text-decoration: none; text-align: center; background: white">
                        <div style="height: 13rem">
                            <img src="{{ product.image.image1 }}" class="card-img-top" alt="image"
                                 style="max-height: 100%; width: auto;object-fit: cover">
                        </div>
                        <div class="card-body py-1" style="text-align: center; background: black">
                            <h5 class="card-title my-0"
                                style="font-size: xx-large;color: gold"> {{ product.title }}</h5>
                            <p style="color: gold">Rs {{ product.price }}/-</p>
                            {#                        <a href="#" class="btn btn-primary">Go somewhere</a>#}
                        </div>
                    </a>
                </div>

            </div>

        {% endfor %}
    </div>
{% endblock %}