{% extends "base.html" %}
{% block title %}welcome{% endblock %}
{% load extra_tags %}
{% block content %}
    <div class="form container-fluid">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" style="background-color: gold;">
                <p class="m-4" id="text">
                    your chart has <span id="noofitems"></span> item(s)
                    <br>
                    <span id="price"></span>
                    <br>
                <form class="form" action="/checkout" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input value="{{ order_id }}" hidden name="order_id">
                    <button class="btn btn-success">pay</button>
                </form>
                </p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <script>
        let price = {}
        let quantity = {}
        {% for product in cart.products.all %}
            price["{{ product.id }}"] = {{ product.price }};
            quantity["{{ product.id }}"] = {{ cart.items|getdict:product.id }};
        {% endfor %}
        function computecost() {
            let total = 0
            let noofitems = 0
            for (let i in price) {
                noofitems += 1
                total += parseInt((price[i] * quantity[i]).toFixed(2));
            }
            if (noofitems === 0) {
                document.getElementById("text").innerText = "No items in your cart";
                return
            }
            document.getElementById("noofitems").innerText = noofitems
            document.getElementById("price").innerText = "total price is Rs:" + total + "/-";

        };
        window.onload = function () {
            computecost()
        }

        function checkout() {

        }

    </script>
{% endblock %}