{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="mx-5" xmlns="http://www.w3.org/1999/html">
        <h1 class="text-center">{{ product.title }}</h1>

        <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" style="background: gold">
            <ol class="carousel-indicators">
                {% for name in product.image %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" {% if name == 'image1' %}
                        class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner py-3">
                {% for name,url in product.image.items %}
                    <div class="carousel-item {% if name == 'image1' %}active{% endif %}">
                        <img class="d-block mx-auto" alt="image" style="height:500px" src={{ url }}>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <br>
        <h5 class="text-center">Rs {{ product.price }}/-</h5>

        <button onclick="add_to_cart()" type="button" class="btn btn-primary">add to cart</button>
        <p style="font-size: large">{{ product.description|linebreaks }}</p>

        <br>
        <table class="table table-striped" class="container-sm">

            {% for row,col in product.table.items %}
                <tr>
                    <th>{{ row }}</th>
                    <td>{{ col }}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
        {{ product.special_model|safe }}
        <div id="rating_block">
            <p> avg review : <span style="color: #e2e2e2">
            <span class="fa" id="ostar1"></span>
            <span class="fa" id="ostar2"></span>
            <span class="fa" id="ostar3"></span>
            <span class="fa" id="ostar4"></span>
            <span class="fa" id="ostar5"></span>
        </span>
            </p>
            <p>total
                ratings: {{ product.rating_5|add:product.rating_4|add:product.rating_3|add:product.rating_2|add:product.rating_1 }}
            </p>
        </div>
        {% if is_seller == True %}
            <a href="/product/change/{{ product.id }}">
                <button class="btn btn-primary">Change product</button>
            </a>

            <button class="btn btn-danger" onclick="delete_product()">delete product</button>
            <div class="modal" tabindex="-1" id="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete

                        </div>

                        <div class="modal-footer">

                            <form action="/product/delete/{{ product.id }}" method="post"
                                  id="delete_form">{% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="delete">
                            </form>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function delete_product() {

                    $("#modal").modal("show")
                }

            </script>

        {% else %}
            write review
            <form method="post" id="form">{% csrf_token %}
                <div class="rate" style="font-family: Arial">
                <span>
                <input type="radio" id="star1" class="give_rate" name="rate" value="1" onchange="check_stars()"
                       required/>
                <label id="lable1" for="star1" title="text"><span class="fa fa-star"></span></label>
                </span>
                    <span>
                <input type="radio" id="star2" class="give_rate" name="rate" value="2" onchange="check_stars()"
                       required/>
                <label id="lable2" for="star2" title="text"><span class="fa fa-star"></span></label>
                </span>
                    <span>
                <input type="radio" id="star3" class="give_rate" name="rate" value="3" onchange="check_stars()"
                       required/>
                <label id="lable3" for="star3" title="text"><span class="fa fa-star"></span></label>
                </span>
                    <span>
                <input type="radio" id="star4" class="give_rate" name="rate" value="4" onchange="check_stars()"
                       required/>
                    <label id="lable4" for="star4" title="text"><span class="fa fa-star"></span></label>
                </span>
                    <span>
                <input type="radio" id="star5" class="give_rate" name="rate" value="5" onchange="check_stars()"
                       required/>
                <label id="lable5" for="star5" title="text"><span class="fa fa-star"></span></label>
                </span>
                </div>
                <br>
                <br>
                {{ form.as_p }}
                <button type="button" class="btn btn-primary" onclick="submit_form()">Submit</button>
            </form>
        {% endif %}

    </div>
    {% load static %}
    {% if is_seller == False %}

    {% endif %}
    <script>
        let rating = {{ product.rating_avg }};
        let total_ratings ={{ product.rating_5|add:product.rating_4|add:product.rating_3|add:product.rating_2|add:product.rating_1 }};

        function add_to_cart() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200 && this.responseText == "added") {
                    alert("item added to cart")
                }
            };
            xhttp.open("GET", window.location.href + "/add", true);
            xhttp.send();
        }
    </script>
    <style>
        .fill_star {
            color: gold;
        }


        /* The container */
        .rate {
            float: left;
            text-align: right;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .rating > label {
            color: #ddd;
            float: right;
        }

        /* Hide the browser's default checkbox */
        input[type=radio] {
            color: silver;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        label {
            cursor: pointer;
        }

        .rate input:checked ~ label {
            color: gold;
        }

        .sudo_check {
            color: gold;
        }

    </style>
    <script src="{% static 'rating_stars.js' %}">
    </script>

{% endblock %}