{% extends "base.html" %}
{% load static %}
{% block title %}product{% endblock %}
{% block content %}
    <div class="form container-fluid">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10" style="background-color: gold;">
                <div class="p-3">
                    <form method="post" id="form">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="button" class="btn btn-primary" id="submit_button">
                            Change
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'product_json_to_text.js' %}"></script>
    <script src="{% static 'edit_product.js' %}"></script>
    <style>
        input {
            font-size: x-large !important;
        }

        textarea {
            font-size: x-large !important;
        }
    </style>
{% endblock %}
