{% extends "base.html" %}
{% block content %}
    <div class="form container-fluid">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6 mb-4 pb-4" style="background-color: gold">
                <h2 class="text-center">Basic info</h2>
                <form>{% csrf_token %}
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">User Name</label>
                        <div class="col-sm-10">
                            <input type="text" readonly style="font-size: x-large" class="form-control-plaintext"  id="name"
                                   value=
                                    {{ user.username }}>
                        </div>
                    </div>
                    {#                    <div class="form-group row">#}
                    {#                        <div class="col-sm-10">#}
                    {#                            <label for="new_name">Change Name</label>#}
                    {#                            <input type="text" class="form-control" id="new_name" name="name"#}
                    {#                                   value={{ user.username }}>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <button type="submit" class="btn btn-primary">Change Name</button>#}
                </form>
                <form action="/update/email" method="post">{% csrf_token %}
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">User Email</label>
                        <div class="col-sm-10">
                            <input type="email" readonly style="font-size: x-large" class="form-control-plaintext" id="email"
                                   value=
                                    {{ user.email }}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <label for="new_email">Change Email</label>
                            <input type="email" class="form-control" id="new_email" style="font-size: x-large; height: calc(1.5em + .75rem - 8px)" name="email"
                                   value={{ user.email }} >
                        </div>
                    </div>
                    <button id="changeEmail" class="btn btn-primary" >Change email</button>
                </form>
                {#                <div class="text-center mb-3">#}
                {#                    <a href="/update/password" class="btn btn-primary" role="button" aria-pressed="true">change password</a>#}
                {#                </div>#}
                <h2 class="text-center">Update password</h2>
                <form action="/update/password" method="post"
                      oninput='conf_password.setCustomValidity(conf_password.value !== password.value ? "Passwords do not match." : "")'>
                    {% csrf_token %}
                    {#                    <div class="form-group">#}
                    {#                        <label for="old_password">old password</label>#}
                    {#                        <input type="password" class="form-control" id="old_password" name="old_password" required>#}
                    {#                    </div>#}
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required minlength="8"
                               maxlength="20">
                        <div class="invalid-feedback" id="error_log" style="">
                            <p id="len" class="m-0">password is too short</p>
                            <p id="lower" class="m-0">use at least one lower case letter</p>
                            <p id="upper" class="m-0">use at least one upper case letter</p>
                            <p id="spec" class="m-0">use at least one special character</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="conf_password">conform password</label>
                        <input type="password" class="form-control" id="conf_password" required>
                    </div>
                    <button class="btn btn-primary" id="submit" disabled>Change Password</button>

                </form>

                {##}
                {#                <div class="row m-3 justify-content-center text-center" style="align-items: center">#}
                {#                    <div class="card" style="width: 12rem;">#}
                {#                        <div class="card-body">#}
                {#                            <h5 class="card-title text-center">Basic plan</h5>#}
                {#                            <p class="card-text">Here you get upto 400 mb at --</p>#}
                {#                            <button onclick="changePlan(1)" class="btn btn-primary">Change Plan</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="card m-3" style="width: 12rem;">#}
                {#                        <div class="card-body">#}
                {#                            <h5 class="card-title text-center">Premium plan</h5>#}
                {#                            <p class="card-text">Here you get upto 450 mb at --</p>#}
                {#                            <button onclick="changePlan(2)" class="btn btn-primary">Change Plan</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="card" style="width: 12rem;">#}
                {#                        <div class="card-body">#}
                {#                            <h5 class="card-title text-center">Platimum plan</h5>#}
                {#                            <p class="card-text">Here you get upto 350 mb at --</p>#}
                {#                            <button onclick="changePlan(3)" class="btn btn-primary">Change Plan</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <form method="post" id="planForm" action="/update/plans" style="display: none">#}
                {#                    <input id="planHolder" name="plan">#}
                {#                </form>#}
                {% if error is not none %}
                    <div class="alert alert-danger" role="alert">
                        {{ error|safe }}
                    </div>
                {% endif %}
                <p></p>
                <div class="text-center m-3">
                    <a href="orders" type="button" class="btn btn-info">view orders</a>
                    <br>
                </div>
                <div class="text-center m-3">
                    <a href="product/create" type="button" class="btn btn-info  ">sell product</a>
                </div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'password_validation.js' %}"></script>
    {#    <script>#}
    {#        function changePlan(val) {#}
    {#            let plan_input = document.getElementById("planHolder")#}
    {#            let planForm = document.getElementById("planForm")#}
    {#            plan_input.setAttribute("value", val)#}
    {#            planForm.submit()#}
    {#        }#}
    {#    </script>#}
    <script>
        let submit_btn_email = document.getElementById("changeEmail");
        submit_btn_email.onclick = function (e) {
            e.preventDefault();
            change_email()
        }
        let submit_btn_password = document.getElementById("submit")
        submit_btn_password.onclick = function (e) {
            e.preventDefault();
            change_password()
        }

        function change_email() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200 && this.responseText === "success") {
                    document.getElementById("email").innerText = document.getElementById("new_email").value
                    document.getElementById("email").value = document.getElementById("new_email").value
                }
            };
            xhttp.open("POST", window.location.href + "/update/email", true);
            xhttp.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("email=" + document.getElementById("new_email").value);
        }

        function change_password() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200 && this.responseText === "success") {
                    document.getElementById("password").value = ""
                    document.getElementById("conf_password").value = ""
                    conf_field.classList.remove("is-valid")
                    pswd_field.classList.remove("is-valid")
                    submit.disabled = false;
                }
            };
            xhttp.open("POST", window.location.href + "/update/password", true);
            xhttp.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("password=" + document.getElementById("password").value);
        }
    </script>
{% endblock %}